@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ######## utility classes #############  */
.bg-heading {
  font-size: 2rem;
}

.bold-heading {
  font-weight: 700;
}

.text-gray {
  color: #5e5e5e;
}
.text-black {
  color: #232323;
}
/* -------------############# for desktop styling #############-------- */
/* ######### navbar styling ########## */
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar .navbar-container {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
}

.navbar .navbar-container .logo {
  order: -1;
}

.navbar .navbar-container .menu-items {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.navbar .navbar-container .menu-items .menu-item a {
  color: #5e5e5e;
  text-decoration: none;
  font-size: 1.8rem;
}
